body{
    margin: 0;
    overflow-y: scroll;
}
/*---------------------------------*/
img{
    position: relative; 
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    display: block;
    min-height: 100%;
    transform:translate(-50%,-50%);
}
/*---------------------------------*/
#page1_div{
    position: absolute;
    display: flex;
    top: 0%;
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
#navBar_div{
    position: fixed;
    display: flex;
    width: 100%;
    height: 7%;
    z-index: 1;
    background: #0F044C;
}
.navBar{
    color: darkgray;
    font-size: 20px;
}
.navBar:hover{
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#navBar_menu_div{
    position: absolute;
    display: flex;
    left: 2%;
    width: 5%;
    height: 100%;
    justify-content: left;
    align-items: center;
}
#navBar_title_div{
    position: absolute;
    display: flex;
    left: 40%;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 15px;
}
#navBar_intro_div{
    position: absolute;
    display: flex;
    right: 7%;
    width: 10%;
    height: 100%;
    justify-content: right;
    align-items: center;
}
#navBar_top_div{
    position: absolute;
    display: flex;
    right: 2%;
    width: 3%;
    height: 100%;
    justify-content: right;
    align-items: center;
}
/*---------------------------------*/
#mainLogo_div{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 21%;
    left: 50%;
    width: auto;
    height: 16%;
    aspect-ratio: 2000/378;
}
/*---------------------------------*/
#googleSearch_div{
    position: absolute;
    display: flex;
    top: 35%;
    left: 10%;
    width: 80%;
    height: 40px;
    background: white;
}
#googleSearch_bar{
    height: 100%;
    width: 95%;
    border-style: solid;
    border-color: #141E61;
    border-width: 0.01;
}
#googleSearch_btn{
    background: white;
    height: 100%;
    width: 5%;
    border-style: solid;
    border-color: #141E61;
    border-width: 0.01;
}
#googleSearch_btn:hover{
    background: azure;
}
/*---------------------------------*/
#recentEvent_title_div{
    position: absolute;
    display: flex;
    top: 45%;
    left: 10%;
    width: 80%;
    height: 5%;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#recentEvent_div{
    position: absolute;
    display: flex;
    top: 50%;
    left: 10%;
    width: 80%;
    height: auto;
    aspect-ratio: 16/3;
}
.recentEvent_event_div{
    margin: 1%;
    width: 100%;
    height: 100%;
    font-size: 16;
    font-weight: bold;
    border-style: groove;
    border-color: #141E61;
    border-radius: 2%;
    border-width: 1%;
}
.recentEvent_name_div{
    display: flex;
    padding-top: 1%;
    justify-content: center;
    font-size: 20;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*---------------------------------*/
#media_div{
    position: absolute;
    display: flex;
    top: 90%;
    left: 10%;
    width: 80%;
    height: 5%;
    justify-content: space-around;
}
.media_div{
    width: 50px;
    height: 50px;
}
.square_img{
    height: 100%;
    width: auto;
}
/*---------------------------------*/
#page2_div{
    position: absolute;
    display: flex;
    top: 100%;
    width: 100%;
    height: 100%;
    background: #787A91;
}
#intro_div{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 30%;
    height: 60%;
    font-size: 20;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #EEEEEE; 
}
#intro_title_txt{
    font-size: 35;
}
#resume_div{
    position: absolute;
    top: 10%;
    left: 55%;
    width: auto;
    height: 87%;
    aspect-ratio: 1241/1755;
}
/*---------------------------------*/
#page3_div{
    position: absolute;
    display: flex;
    top: 100%;
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}
#event_title_div{
    position: absolute;
    display: flex;
    top: 10%;
    left: 10%;
    width: 90%;
    height: 10%;
    justify-content: left;
    align-items: center;
    font-size: 24;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#event_matrix_div{
    position: absolute;
    display: block;
    top: 20%;
    left: 10%;
    width: 80%;
    height: auto;
    aspect-ratio: 3/1;
}
#event_bar1_div{
    top: 0%;
    position: absolute;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 50%;
}
#event_bar2_div{
    top: 70%;
    position: absolute;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 50%;
}
.event_div{
    width: 30%;
    height: 100%;
    font-size: 16;
    font-weight: bold;
    border-style: groove;
    border-color: #141E61;
    border-radius: 2%;
    border-width: 1%;
}
.event_name_div{
    display: flex;
    padding-top: 1%;
    justify-content: center;
    font-size: 20;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}